.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}
* {
  margin: 0;
  padding: 0;
}
#app {
  background: #fafafa;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
  letter-spacing: 2px;
}
.title-header {
  display: flex;
  align-items: center;
  height: 5rem;
  .title-menu {
    display: flex;
    align-items: center;
    width: 20rem;
    margin-left: 2rem;
    li {
      flex: 1;
      font-size: 1rem;
    }
  }
}
.MenuActive {
  border-bottom: 5px solid rgb(129, 112, 112);
}
.el-card {
  border-radius: 15px;
}
.el-header {
  height: 70px;
}
.el-aside {
  height: calc(100vh - 70px);
}
.el-main {
  padding: 0;
  height: calc(100vh - 70px);
}
